@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div:first-child,
div#__next {
  height: 100%;
}

// Shiki Styling
html.dark {
  pre[data-theme="light"],
  div[data-theme="light"],
  code[data-theme="light"] {
    display: none;
  }
}

html.light {
  pre[data-theme="dark"],
  div[data-theme="dark"],
  code[data-theme="dark"] {
    display: none;
  }
}

div[data-rehype-pretty-code-title] {
  margin-bottom: -1.5rem;
  text-decoration: underline;
}

.word-highlighted {
  @apply bg-zinc-600/50 rounded;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}


.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers][data-line-numbers-max-digits="2"] > .line::before {
  width: 0.25rem;
}

code[data-line-numbers][data-line-numbers-max-digits="3"] > .line::before {
  width: 0.35rem;
}

.line.highlighted {
  filter: saturate(1);
}
